

body{
  background-color: #FDF1E2;
}

header{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  background-color: #f8debf;
 
}

.banner img{
  width: 100%;
}

.description{
  grid-column: 1;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

h1{
  font-size: 49px;
}
h2{
  font-size: 40px;
}

h3{
  font-size: 30px;
}
h4{
  font-size: 20px;
}
p{
  font-size: 18px;
}
img{
  width: 100%;
}

li{
  font-size: 20px;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.star {
animation: 2.5s rotate infinite;
animation-timing-function: linear;
}

.star {
/* margin-l: 50px auto; */
width: 15px;
height: 15px;
background: black;
}
.star:after {
content: "";
display: block;
width: 15px;
height: 15px;
background: black;
transform: rotate(45deg);
}

.list{
  translate: 40px -20px;
  width: 80%;
  margin-top: 0;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides1, .mySlides2,.mySlides3{
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  background-color: black;
  color: white;
  opacity: 0.4;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.row{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.rectangle1, .rectangle2, .rectangle3, .rectangle4, .rectangle5,.rectangle6, .rectangle7, .rectangle8{
  width: 100%;
  height: 100px;
}
.rectangle1{
  background-color: #f79363;
}
.rectangle2{
  background-color: #b14d38;
}

.rectangle3{
  background-color: #e39c5f;
}

.rectangle4{
  background-color: #a96928;
}

.rectangle5{
  background-color: #faedd2;
}

.rectangle6{
  background-color: #f8debf;
}

.rectangle7{
  background-color: #747747;
}

.rectangle8{
  background-color: #9fa06a;
}

.container2{
  position: relative;
}

.mySlides2{
  display: none;
}



@media (min-width:1440px) {
  
  
  header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 30px;
  
  }
  
  .banner{
    grid-column: 1;
    
  }
  
  .banner img{
    width: 120%;
  }
  
  .description{
    grid-column: 2;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 50px;
    padding-bottom: 20%;
  }
  
  .description p{
  /*  padding-top: 50px;*/
    font-size: 1.5rem;
  }
  
  h1{
    font-size: 80px;
  }
  
  h2{
    font-size: 60px;
  }
  
  h3{
    font-size: 40px;
    /* padding-top: 50px; */
  }

  article{
    padding-left: 5rem;
    padding-right: 5rem;
  }

  p{
    font-size: 1.2rem;
  }

  h4{
    font-size: 25px;
    margin-top: 0;
  }

  aside{
    grid-column: 1/span 2;
    padding-top: 3rem;
  }

  .inspire{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  .addict-p, .caffine-p, .alcohol-p{
    grid-column: 1;
    padding-right: 2rem;
  }

  .addic-pic1, .caffine-pic1, .alcohol-pic1{
    grid-column: 2;
    padding: 2.5rem;
  }

  .addic-pic2, .caffine-pic2, .alcohol-pic2{
    grid-column: 3;
    padding: 2.5rem;
  }

  .alcohol-addict, .caffine-addict{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }

  .brain-pic, .liver-pic, .brain-pic2, .stomach-pic{
    grid-column: 1;
    padding: 2rem;
  }

  .brain, .liver, .brain-c, .stomach{
    grid-column: 2;
    padding-left: 2rem;
  }

  .heart-pic, .kidney-pic, .heart-pic2, .bone-pic{
    grid-column: 3;
    padding: 2rem;
  }

  .heart, .kidney, .heart-c, .bone{
    grid-column: 4;
  }

  .caffine-p, .caffine-pic1, .caffine-pic2, .alcohol-p, .alcohol-pic1, .alcohol-pic2, .liver, .liver-pic, .kidney, .kidney-pic, .stomach, .stomach-pic, .bone, .bone-pic, .detail, .type, .color, .box, .can, .box-f{
    margin-top: 5rem;
    border-bottom: 2px solid black;
    padding-bottom: 5rem;
  }

  .addic-pic1, .addic-pic2, .addict-p, .brain, .brain-pic, .heart, .heart-pic, .brain-c , .brain-pic2, .heart-c, .heart-pic2{
    border-bottom: 2px solid black;
    padding-bottom: 5rem;
  }

  ul{
    grid-column: 2;
    /* padding: 2rem; */
  }

  li{
    font-size: 1.5rem;
  }

  .intro{
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-template-rows: auto;
  }

  .logo{
    grid-column: 1;
  }

  .describ{
    grid-column: 2;
    padding: 6rem;
    text-align: center;
    margin: 2rem;
  }

  .container{
    margin-top: 5rem;
    padding: 2rem;
    /* margin-right: 2rem; */
  }

  .numbertext{
    font-size: 2rem;
    color: black;
  }

  .describ, .container{
    background-color: #f4ddc2;
  }

  .mySlides1 img, .mySlides2 img{
    width: 40%;
    padding-left: 30%;
  }

  .logo-d, .type-logo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .logo-outline1, .type1{
    grid-column: 1;
  }

  .logo-outline2, .type2{
    grid-column: 2;
  }

  .type-grid{
    grid-column: 1/span 2;
  }

  .color{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    padding-right: 8rem;
  }

  .description-c{
    grid-column: 1/ span 4;
  }

  .color1, .color2, .color3, .color4,.color5, .color6, .color7,.color8{
    padding-right: 2.5rem;
  }

  .color1{
    grid-column: 1;
  }
  .color2{
    grid-column: 2;
  }
  .color3{
    grid-column: 3;
  }
  .color4{
    grid-column: 4;
  }

  .rectangle1, .rectangle2, .rectangle3, .rectangle4, .rectangle5,.rectangle6, .rectangle7, .rectangle8{
    width: 310px;
  }

  .box-img, .can-img, .format-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .box, .can-1, .format-1{
    grid-column: 1;
  }
  .box-2, .can-2, .format-2{
    grid-column: 2;
  }

  .box-1, .box-2{
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .can-1, .can-2{
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .mySlides3 img{
    padding-top: 0;
  }


}























